:root {
  //primary:
  --bold-text: hsl(238, 29%, 16%);
  --text-pointer: hsl(14, 88%, 65%);
  --background-gradiet-soft-violet: hsl(273, 75%, 66%);
  --background-gradiet-Soft-blue: hsl(240, 73%, 65%);
  //neutral:
  --text-title: hsl(237, 12%, 33%);
  --text-question-answer: hsl(240, 6%, 50%);
  --dividers: hsl(240, 5%, 91%);
  --font-family: "Kumbh Sans", sans-serif;
}
